@model PageResourceViewModel

@{
	this.ViewData["Title"] = "All Resources";
	var dataForPartial = "resources";
}

<div class="container">
	<div class="mt-5 border-bottom pb-2">
		<div class="d-flex justify-content-end">
			<a asp-action="Create" class="btn btn-primary">Create new resource</a>
		</div>
	</div>
	@if (Model.Resources.Any())
	{
		<div>
			<partial name="_ListEntitiesPartial" model="@Model.Resources">
		</div>
		<div>
			<partial name="_PagingPartial" model="@Model">
		</div>
	}
	else
	{
		<div>
			<partial name="_NoAvailableEntitiesPartial" model="@dataForPartial">
		</div>
	}
</div>