@model ResourceFormServiceModel

@{
    this.ViewData["Title"] = $"Update {Model.Name}";
}

<div class="container mt-4">
    <partial name="_ResourceFormPartial" model="@Model">
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}