@model IEnumerable<AllCoursesViewModel>

<div>
	@foreach (var course in @Model)
	{
		<span>@course.Name - @course.Description</span>
		<span>@course.StartDate - @course.EndDate</span>
		<hr />
	}
</div>