@model CourseFormServiceModel

@{
    ViewData["Title"] = "Update";
}

<div class="container">
      <partial name="_CourseFormPartial" model="@Model">
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }

