@model LessonFormServiceModel

<div class="offset-3 col-6 mt-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Begining" class="control-label"></label>
                <input asp-for="Begining" class="form-control" />
                <span asp-validation-for="Begining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group control-label">
                <select asp-for="CourseId" class="form-control">
                    @foreach (var course in Model.Courses)
                    {
                        <option value="@course.Id">@course.Name</option>
                    }
                </select>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Submit" class="btn btn-primary w-50" />
            </div>
        </form>
</div>
