@model CourseFormServiceModel

@{
    ViewData["Title"] = "Create";
}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center border-bottom">
        <a class="btn btn-primary" asp-controller="Courses" asp-action="Index">Back to list</a>
        <h1>Create new course</h1>
    </div>
   <partial name="_CourseFormPartial" model="@Model"> 
</div>

@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }