@model CourseFormServiceModel

@{
    this.ViewData["Title"] = $"Update: {Model.Name}";
}

<div class="container">
    <partial name="_UpdateHeaderPartial" model="@Model">
    <partial name="_CourseFormPartial" model="@Model">
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }

