@using StudentSystem.ViewModels.Resource
@model IEnumerable<ListResourceViewModel>

<div class="container">
	<ul>
		@foreach (var resouce in Model)
		{
			<li>@resouce.Name</li>
			<li><a href="@resouce.URL" target="_blank">Download</a></li>
		}
	</ul>
</div>