@model LessonFormServiceModel

@{
    this.ViewData["Title"] = $"Update: {Model.Title}";
}

<div class="container mt-4">
    <partial name="_UpdateHeaderPartial" model="@Model">
    <partial name="_LessonFormPartial" model="@Model">
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }
