@model LessonFormServiceModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <partial name="_LessonFormPartial" model="@Model">
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }


