.course-body {
    color: #565656;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card :hover {
    background-color: #F8F8F8;
}

.lesson-title {
    color: #565656;
    font-size: 20px;
    font-family: serif;
}

.shadow-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.nav-text-color {
    color: #bedae6;
}

    .nav-text-color:hover {
        color: white;
    }

.course-title-home-page {
    font-size: 22px;
    font-family: Verdana;
    color: #0779e4;
}

.course-image {
    width: 306px;
    height: 208px;
}
